@import "./Sass_imports/_library.scss";
@import "./Sass_imports/_navComponents.scss";
@import "./Sass_imports/_buttons.scss";
@import "./Sass_imports/_forms.scss";
@import "./Sass_imports/_lists.scss";
@import "./Sass_imports/_scrollbar.scss";
@import "./Sass_imports/_cards.scss";

html {
    background-color: $black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 0%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    width: 100vw !important;
}

#root{
    bottom: 0;
    height: 100% !important;
}
.bugLogo{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}
.pageContentContainer{
    height: calc(100vh - 50px);
    margin-top: 50px;
    width: 100vw;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.pageBodyContainer1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 100px;
}
.pageBodyContainer2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}
.pageHeader{
    font-size: 70px;
    margin: 0px;
    background-image: linear-gradient(0deg, $black 10%, $darkGrey 40%);
    background-clip: text;
    color: transparent;
}
.pageHeaderContainer{
    height: fit-content;
}
.formAndManage{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.header{
    color: white;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 20px;
}
.loginPage{
    background-image: url('../Components/Images/Pic/black\ sand.jpeg');
    background-size: cover;
    background-position: center;

    height: 100vh !important;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: top;
    text-align: center;
}
.altBG{
    background: linear-gradient(100deg, #1a1a1a, #000000)
}


.fadeIn{
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

//gives time for things to load before conditionally rendering components with fetched data
.delayedFadeIn{
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.2s;
}
@keyframes delayedFadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.longFadeIn{
    animation: longFadeIn 3s;
}
@keyframes longFadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}



@media (max-width: 1200px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {  
    .pageHeader{
        font-size: 60px;
    }
}
@media (max-width: 480px) {   
    .pageHeader{
        font-size: 40px;
    }
}
@media (max-width: 320px) { 
    .pageHeader{
        font-size: 30px;
    }
}








/* Bootstrap Sass overrides */

/* Import bootstrap scss only for things you need */
