.circleIcon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navPicture {
  background-color: #1a1a1a;
}

.navComponent {
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  width: calc(100vw - 50px);
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  border-bottom: 1px solid #1a1a1a;
  z-index: 1;
}

.hamburger {
  position: fixed;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.hamburgerContainer {
  position: fixed;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222222;
  border-right: 1px solid #222222;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburgerContainer:hover + .sideBar {
  -webkit-box-shadow: 1px 0 0 #efff0a6b;
          box-shadow: 1px 0 0 #efff0a6b;
}

.bell {
  margin-top: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.teamPic {
  margin-left: 3px;
}

.sideBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 50px;
  min-width: 50px;
  height: calc(100% - 50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sideBarItem {
  margin: 13px 0px;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scaleYonHover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.scaleYonHover:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sidebarIcon {
  height: 25px;
  width: 25px;
}

.outerNavElement {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 3px;
}

.buttonsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.submitButton:hover {
  border-color: rgba(0, 209, 0, 0.219) !important;
}

.cancelButton:hover {
  background-color: red;
  border-color: red !important;
}

.topButtons {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.bottomButtons {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.button {
  min-width: 90px;
  margin: 0px 2px 2px 0px;
  color: white;
  background-color: #222222;
  padding: 5px 10px;
  border: 1px solid #222222;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
}

.button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border-color: #efff0a6b;
}

.formContainer {
  background-color: #222222;
  border-radius: 10px 10px 0px 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 10px auto 0px auto;
  padding: 10px 20px 20px 20px;
}

.formInput {
  margin: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 200px;
}

.formComponent {
  width: 20%;
  text-align: left;
}

.loginFormComponent {
  width: 100%;
  text-align: left;
  margin-bottom: 10px !important;
}

.loginForm {
  margin-top: 10%;
}

.formSection {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.formTextArea {
  width: 100%;
}

.Mui-focused {
  color: #efff0a !important;
}

.css-1gmxcjm-MuiFormLabel-root-MuiInputLabel-root {
  color: #efff0a !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: white !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.css-66dh3a-MuiInputBase-input-MuiInput-input {
  color: white !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  color: white !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.css-wgizgc-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled)::before {
  border-bottom: 1px solid #efff0a6b !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.css-1bck7qi-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid #efff0a6b !important;
  -webkit-transition: 0.5s !important;
  transition: 0.5s !important;
}

.css-1u7je4m-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #222222 inset !important;
  -webkit-text-fill-color: white !important;
}

.list {
  width: 100%;
  margin: auto;
  background-color: #222222;
  border-radius: 0px 10px 10px 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100px;
}

.listHeader {
  margin-top: 0px;
  margin-bottom: 1px;
}

.listItem {
  background-color: #222222;
  margin: 10px 0px;
  border-bottom: 1px solid #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  text-align: center;
}

.listColumnNames {
  width: 20%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222222 #1a1a1a;
}

*::-webkit-scrollbar {
  width: 9px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 3000;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

*::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 10px;
  border: 3px solid #1a1a1a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.teamSelectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

.teamCardPageBody {
  background-image: url("../Components/Images/Pic/black sand.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: center;
  overflow-y: auto;
}

#cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: calc(100% - 20px);
  max-width: 1530px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  background-color: #2e2e2e;
  padding: .5px;
  border-radius: 10px;
  height: 260px;
  width: 300px;
  cursor: pointer;
  position: relative;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  background: radial-gradient(900px circle at var(--mouse-x) var(--mouse-y), #d6d6d60c, transparent 40%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  border-radius: inherit;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.card > .cardContent {
  background-color: #1a1a1a;
  margin: .5px;
  border-radius: inherit;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardTeamOwner {
  color: #ffffff;
  opacity: 50%;
  width: calc(100% - 20px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  background-color: #1a1a1a;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  bottom: 0;
  height: 100% !important;
}

.bugLogo {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

.pageContentContainer {
  height: calc(100vh - 50px);
  margin-top: 50px;
  width: 100vw;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pageBodyContainer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 100px;
}

.pageBodyContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 50px;
}

.pageHeader {
  font-size: 70px;
  margin: 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #1a1a1a), color-stop(40%, #222222));
  background-image: linear-gradient(0deg, #1a1a1a 10%, #222222 40%);
  background-clip: text;
  color: transparent;
}

.pageHeaderContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.formAndManage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.header {
  color: white;
  font-size: 20px;
  margin: 0px;
  margin-bottom: 20px;
}

.loginPage {
  background-image: url("../Components/Images/Pic/black sand.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh !important;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  text-align: center;
}

@media (max-width: 768px) {
  .pageHeader {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  .pageHeader {
    font-size: 40px;
  }
}

@media (max-width: 320px) {
  .pageHeader {
    font-size: 30px;
  }
}

/* Bootstrap Sass overrides */
/* Import bootstrap scss only for things you need */
/*# sourceMappingURL=styles.css.map */