.buttonsContainer{
    display: flex;
    width: 80%;
    margin: auto;
}
.topButtons{
    justify-content: left;
}
.bottomButtons{
    justify-content: right;
}
.button{
    min-width: 90px;
    margin: 0px 10px 2px 0px;
    color: white;
    background-color: $darkGrey;
    padding: 5px 10px;
    border: 1px solid $darkGrey;
    border-radius: 5px;
    transition: $transition;
}
h4.button:hover {
    transition: $transition;
    cursor: pointer;
    border-color: $dimYellow;
}