.buttonsContainer{
    display: flex;
    width: 100%;
    margin: auto;
}.submitButton:hover {
    box-shadow: 0 1px 1px white;
}
.cancelButton:hover{
    background-color: red;
    border-color: red !important;
    box-shadow: none !important;
}
.topButtons{
    justify-content: left;
}
.bottomButtons{
    justify-content: right;
}
.button{
    min-width: 90px;
    margin: 0px 2px 2px 0px;
    border: none;
    color: white;
    background-color: $darkGrey;
    padding: 5px 10px;
    border-radius: 5px;
    transition: $transition;
    font-size: 14px;
    box-shadow: 0px 1px 1px transparent;
}
.button:hover {
    cursor: pointer;
    transition: $transition;
    box-shadow: 0px 1px .5px $dimYellow;
}