.teamCardPageBody{
    height: 100vh !important;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: top;
    text-align: center;
    overflow-y: auto;
}
.selectTeamPageNavbutton{
    color: #ffffff;
    opacity: 50%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: $transition;
}
.selectTeamPageNavbutton:hover{
    opacity: 1;
    transition: $transition;
}
#cards{
    display: inline;
    text-align: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 80%;
    max-width: 1500px; //makes sure the max amount of cards in a row is 5
    margin: auto;
    margin-bottom: auto;
}
.card{
    padding: .5px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-bottom: 1px;
}
.card:hover::before{
    opacity: 1;
}
.card::before{
    background: radial-gradient(
        900px circle at var(--mouse-x) var(--mouse-y),
        #ffffff60,
        transparent 40%
    );
    opacity: 0;
    transition: opacity 800ms;
    border-radius: inherit;
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 2;
}
.card > .cardContent{
    background: transparent;
    margin: .5px;
    border-radius: inherit;
    height: calc(100% - 1px);
    width: calc(100% - 1px);
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    flex-direction: row;
    text-shadow: 0 0 5px black;
}
.cardTeamOwner{
    color: #ffffff;
    opacity: 50%;
    width: calc(100% - 20px);
    transition: 800ms;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}
.card:hover > .cardContent > .cardTeamOwner {
    opacity: 1;
}
.invitesNum{
    opacity: 1 !important;
    color: $yellow;
}