.ticketDetailsContainer{
    color: white;
    background-color: $darkGrey;
    min-width: 280px;
    min-height: 310px;
    max-height: 310px;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    transition: $transition;
}
.openFormDetailsHeight{
    min-height: 380px;
}
.detailLabel{
    color: $accentGrey;
    margin-right: 5px;
    font-size: 12px;
}
.ticketDetailItem{
    display: flex;
    height: 18px;
    padding: 5px;
    min-width: 150px;
    width: 100%;
    justify-content: left;
    align-items: end;
    text-align: left;
    border-bottom: 1px solid $accentGrey;
    cursor: default;
    transition: $transition;
}
.ticketDetailItemContainer{
    display: flex; 
    align-items: end; 
    height: 45px; 
    margin-bottom: 5px;
}
.ticketDetailItem:hover{
    border-bottom: 1px solid $dimYellow;
}
.detailDiscriminator{
    font-size: 11px;
    opacity: 30%;
    transition: $transition;
}
.ticketDetailItem:hover > .detailDiscriminator{
    opacity: 100%;
}
.detailsColumn{
    width: 100%;
}
.ticketDetailsRow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 30px);
}
.detailsDescription{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $accentGrey;
    padding-bottom: 10px;
    cursor: default;
    transition: $transition;
    overflow-y: scroll;
    flex-grow: 1;
    max-height: 200px;
}
.detailsDescription:hover{
    border-bottom: 1px solid $dimYellow;
}
.ticketDescriptionArea{
    margin: auto 0px;
    height: fit-content;
    vertical-align: middle;
}