.formContainer {
  background-color: $darkGrey;
  transition: flex $transition;
}
.formInput {
  margin: 20px;
  height: fit-content;
  min-width: 150px;
}
.loginFormContainer {
  min-width: 280px;
  height: fit-content;
  padding: 10px 10px 10px 10px;
  background-color: $darkGrey;
  border-radius: 5px;
  box-shadow: 0 0 3px $hoverGrey;
}
.loginFormContainerLG{
  background-color: $darkGrey;
  height: 450px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 3px $hoverGrey;
}
.loginForm {
  width: 100%;
  display: block;
}
.FormContainer {
  border-bottom: 1px solid $darkGrey;
  flex-direction: column;
  transition: $transition;
}
.twist {
  transform: rotate(180deg);
  fill: $yellow;
}
.twist:hover {
  transform: rotate(180deg);
  fill: $yellow;
}
.FormContainer:hover {
  border-bottom: 1px solid $dimYellow;
}
.svgSibling:hover ~ .bi-arrow-bar-down {
  fill: $yellow;
}
.formLoadAnim {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bi-arrow-bar-down {
  cursor: pointer;
  color: $accentGrey;
  transition: $transition;
}
.disabled {
  cursor: default !important;
}
.disabled:hover {
  color: $accentGrey !important;
}
.svgSibling:hover ~ .disabled {
  fill: $accentGrey;
}
.bi-arrow-bar-down:hover {
  color: $yellow;
}
.ticketNoteForm {
  height: fit-content;
  width: calc(100%-20px);
  padding: 0px 10px 0px 10px;
  transition: $transition;
}
.ticketNoteInput {
  width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $darkGrey inset !important;
  -webkit-text-fill-color: white !important;
  box-shadow: 0 0 0 30px $darkGrey inset !important;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.MuiInputBase-root::before {
  border-bottom: 1px solid $accentGrey !important;
}
.MuiInput-root{
  color: white !important;
}
.MuiInputLabel-root{
  color: #ffffff !important;
}
.MuiInputLabel-shrink{
  color: $yellow !important;
}
.MuiInput-underline{
  border-color: #ffffff !important;
}
.MuiSelect-icon {
  color: $accentGrey !important
}
.Mui-disabled{
  color: $accentGrey !important;
  -webkit-text-fill-color-: $accentGrey !important;
}
input:disabled{
  color: $accentGrey !important;
  -webkit-text-fill-color-: $accentGrey !important;
}
.css-1cccqvr.Mui-disabled{
  color: $accentGrey !important;
  -webkit-text-fill-color-: $accentGrey !important;
}