.list{
    width: 100%;
    margin: auto;
    background-color: $darkGrey;
    border-radius: 0px 10px 10px 10px;
    height: fit-content;
    min-height: 100px;
}
.listHeader{
    margin-top: 0px;
    margin-bottom: 1px;
}
.listItem{
    background-color: $darkGrey;
    margin: 10px 0px;
    border-bottom: 1px solid $black;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-align: center;
    
}
.listColumnNames{
    width: 20%;
}
