.list{
    width: calc(100%-40px);
    background-color: $darkGrey;
    height: 395px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    overflow-y: scroll;
    overscroll-behavior: none;
}
.listHeader{
    margin-top: 0px;
    margin-bottom: 1px;
}
.listItem{
    background-color: transparent;
    color: white;
    position: relative;
    margin: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    text-align: center;
    align-items: center;
    min-height: 40px;
    width: calc(100%-40px);
    transition: $transition;
    cursor: default;
}
.listContainer{
    background-color: $darkGrey;
    margin-right: 5px;
}
.ticketListItemButton{
    color: $accentGrey;
    transition: $transition;
    cursor: pointer;
}
.ticketListItemButtonContainer:hover > .ticketListItemButton{
    color: $yellow !important;
}
.ticketListItem:hover > div > .ticketListItemButtonContainer > .ticketListItemButton{
    color: #ffffff
}
.ticketListItemButtonContainer{
    align-items: center;
    height: 100%;
    display: flex;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    padding-top: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.ticketListTitle{
    color: #ffffff;
    margin-left: 10px;
}
.rowItem{
    height: 100%;
    width: fit-content;
    display: inline-block;
}
.listRow{
    display: flex;
    align-items: flex-end;
    text-align: end;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    white-space: nowrap;
    background-color: transparent;
    color: white;
    position: relative;
    border-bottom: 1px solid white;
    min-height: 40px;
    width: calc(100%-40px);
    transition: $transition;
    cursor: default;
}
.listItem.listRow{
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 1px solid $accentGrey;
}
.listItem.listRow:hover{
    border-bottom: 1px solid $dimYellow;
}
.listRowSection{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-width: 600px;
}
.leftSection{
    width: 30%;
}
.rightSection{
    width: 70%;
}
.rightSection > .rowItem{
    width: 25%;
    text-align: center;
}
.memberListRowSection{
    width: 150px;
    margin-bottom: 10px;
}
.userDetailsRow{
    cursor: pointer;
    border-color: $dimYellow;
}
.userDetailsRow:hover{
    border-bottom: 1px solid $yellow;
}
.memberRow{
    cursor: pointer;
}
.memberRow:hover > .memberListRowSection > .discriminator {
    opacity: 100%;
}
.manageMemberListRow{
    cursor: default;
}
.manageMemberListRow:hover{
    border-bottom: 1px solid $accentGrey !important;
}
.projectMembersList{
    height: 320px;
    padding-bottom: 0px;
}
.ticketNoteListContainer{
    background-color: $darkGrey;
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.ticketNoteList{
    height: 268px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column-reverse;
}
.ticketNoteList:hover{
    border-bottom: 1px solid $dimYellow;
}