.ManageMembersWidget {
  color: red;
  background-color: $darkGrey;
  width: 100%;
  height: 410px;
  border-right: 1px solid $accentGrey;
}
.showDetailsHighlight {
  color: $dimYellow;
  transition: $transition;
  font-size: 12px;
  margin-left: 15px;
  opacity: 0%;
}
.memberRow:hover > .memberListRowSection > .showDetailsHighlight {
  opacity: 100%;
}
.modalBoxContainer {
  height: fit-content;
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  background-color: $black;
  box-shadow: 0px 0px 5px $accentGrey;
}
.modalBox {
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.modalList {
  color: white;
  text-align: left;
}
