.circleIcon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.navPicture{
    background-color: $black;
}
.navComponent{
    background-color: $darkGrey;
    display: flex;
}
.navBar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    width: calc(100vw - 50px);
    height: 50px;
    align-items: center;
    margin-left: 50px;
    border-bottom: 1px solid $black;

    z-index: 1;
}
.hamburger{
    position: fixed;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.hamburgerContainer {
    position: fixed;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkGrey;
    border-right: 1px solid $darkGrey;
    border-bottom: 1px solid $black; 
    transition: $transition;
}
.hamburgerContainer:hover + .sideBar{
    box-shadow: 1px 0 0 $dimYellow;
}
.bell{
    margin-top: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.bell::before{
    background-color: red;
    flex-wrap: nowrap;
    color: red;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: inline;
    content: '1';
}
.teamPic{
    margin-left: 3px;
}
.sideBar{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
    min-width: 50px;
    height: calc(100% - 50px);
    transition: $transition;
}
.sideBarItem{
    margin: 13px 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scaleYonHover {
    transition: $transition;
}
.scaleYonHover:hover {
    transform: translateY(-1px);
}
.sidebarIcon{
    height: 25px;
    width: 25px;
}
.outerNavElement {
    width: 50px;
    display: flex;
    justify-content: center;
    margin-left: 3px;
}